textarea {
	direction: ltr;
}

#wpadminbar,
.wp-admin #wpbody-content,
#contextual-help-wrap
 {
	direction: ltr;
	left: 0;
	right: inherit;
}

.wp-admin.index-php #wpbody-content,
.wp-admin.update-core-php #wpbody-content,
.wp-admin.plugin-install-php #wpbody-content,
.wp-admin.plugins-php #wpbody-content,
.wp-admin.jetpack-pagestyles #wpbody-content,
.wp-admin.post-new-php #wpbody-content,
.wp-admin.update-php #wpbody-content {
	direction: rtl;
	right: 0;
	left: inherit;
}

.wp-submenu a[href="options-general.php"] {
direction: ltr;
	left: 0;
	right: inherit;
}
