

p.ltr, aside.ltr, footer.ltr {
    direction: ltr;
}

p.rtl, aside.rtl, footer.rtl {
    direction: rtl;
}

aside.sidenote {
	color: #7f7f7f;
  background-color: #efefef;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px double #1ABC9C;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
  padding: 10px 8px;
}
blockquote:before {
  color: #1ABC9C;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


.rtl blockquote {
  quotes: "\201D""\201C";
  border-right: 10px double #1ABC9C;
  border-left: 0px none;
  padding: 10px 8px;
}

.rtl blockquote:before {
  margin-left: 0.25em;
  margin-right: inherit;
}

footer {
  font-size: 0.75em;
  font-family: verdana;
}

hr + footer {
  margin-top: -15px;
}